{% extends "section.html" %}

{% for post in section.pages %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
    <h2 class="text-right">{{this_year}}</h2>
    <nav class="posts">
  {% endif %}

    <div class="posts-item">
      <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%B %d" }} 
          · {% include read_time.html content=post.content %}
      </time>
      <h3><a href="{{ post.url | prepend:site.url }}">{{ post.title }}</a></h3>
      {% if post.image %}
        {% include asset.html src=post.image %}
      {% endif %}
      {{ post.excerpt }}
    </div>

  {% if forloop.last %}
    </nav>
  {% else %}
    {% if this_year != next_year %}
      </nav>
      <h2 class="text-right">{{next_year}}</h2>
      <nav class="posts">
    {% endif %}
  {% endif %}
{% endfor %}

