+++
template: "compress.html" 
+++

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    {% include analytics.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.excerpt %}
      <meta name="description" content="{{ page.excerpt | strip_html }}">
    {% elsif page.description %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}

    {% if page.tags %}
    {% assign tag_keywords =  page.tags | join: ' ' | prepend: ', '%}
    <meta name="keywords" content="{{ site.keywords | append: tag_keywords }}">
    {% else %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    {% include meta.html %}
    {% feed_meta %}

    {% include icons.html %}

    {% include css.html %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"/>
  </head>
  <body>
    {% include masthead.html %}
    <main class="content">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
