<link rel="apple-touch-icon" sizes="180x180" href="{% asset apple-touch-icon.png @path %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% asset favicon-32x32.png @path %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% asset favicon-16x16.png @path %}">
<link rel="manifest" href="{% asset manifest.json @path %}">
<link rel="mask-icon" href="{% asset safari-pinned-tab.svg @path %}">
<link rel="shortcut icon" href="{% asset favicon.ico @path %}">
<meta name="msapplication-config" content="{% asset browserconfig.xml @path %}">
<meta name="theme-color" content="#ffffff">
