<meta name="author" content="{{ site.author.name }}">

<meta name="google-site-verification" content="_ijLw3IDjPBi5dax4x3X5dOORspgEgZmCOeoc3TZa0Q" />

<link rel="author" href="{{ site.author.google_plus.link }}">
<link href="{{ page.url | prepend:site.url | remove: "index.html" }}" rel="canonical">

<meta name="twitter:site" content="@{{ site.author.twitter.username }}">
<meta name="twitter:title" content="{{ page.title }} &mdash; {{ site.title }}">
<meta name="twitter:creator" content="@{{ site.author.twitter.username }}">

<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ page.url | prepend:site.url }}">
<meta property="og:site_name" content="{{ site.title }}">

{% if page.card %}
<meta name="twitter:card" content="{{ page.card }}">
{% else %}
<meta name="twitter:card" content="summary">
{% endif %}

{% if page.excerpt %}
<meta property="og:description" content="{{ page.excerpt | strip_html }}">
{% else %}
<meta property="og:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
    {% capture image_path %}
    {% asset '{{ page.image }}' @optim @path %}
    {% endcapture %}
    <meta property="og:image" content="{{ image_path | strip | prepend: site.url }}">
{% endif %}
{% if page.url == site.url_base %}
<meta property="og:image" content="{{ assets["logo.png"].digest_path | prepend:site.url }}">
{% endif %}
