{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title %}
  {{ config.title }} - {{ page.title }}
{% endblock title %}

{% block description %}
    {% if page.summary %}
        <meta name="description" content="{{ page.summary | striptags }}">
    {% endif %}

    {% if page.extra.tags %}
        <meta name="keywords" content="{{ page.extra.tags }}">
    {% endif %}
{% endblock description %}

{% block og_card %}
    {{ super() }}
    <meta name="twitter:title" content="{{ config.title }} - {{ page.title }}">
    <meta property="og:title" content="{{ config.title }} - {{ page.title }}">
{% endblock og_card %}

{% block og_image %}
    {% if page.extra.image %}
        {% set basepath = page.path | trim_start_matches(pat="/") %}
        <meta property="og:image" content="{{ get_url(path=basepath ~ page.extra.image, cachebust=true) }}">
        <meta property="twitter:image" content="{{ get_url(path=basepath ~ page.extra.image, cachebust=true) }}">
    {% elif page.assets | length > 0 %}
        <meta property="og:image" content="{{ get_url(path=page.assets[0], cachebust=true) }}">
        <meta property="twitter:image" content="{{ get_url(path=page.assets[0], cachebust=true) }}">
    {% endif %}
{% endblock og_image %}

{% block content %}

<article class="post">
  <header class="post-header">
    <time datetime="{{ page.date }}" class="post-date">
        {{ page.date | date(format="%d %b %Y") }}
    </time>
        {% if page.extra.last_modified_at %}
          <small>
            (Updated:
            <time datetime="{{ page.extra.last_modified_at | date(format="%Y-%m-%dT%H:%M:%S") }}" itemprop="dateModified">
                {{ page.extra.last_modified_at | date(format="%d %b %Y") }}
            </time>)
          </small>
        {% endif %}
        <small>
            · {{ macros::read_time(words=page.word_count) }}
        </small>
        <div style="float: right" >
          {% if page.translations | length > 1 %}
             友
            <small>
             {% for lang in page.translations %}
             <a href="{{ lang.permalink }}" title="{{ lang.title }}">{{ lang.lang }}</a>
             {% endfor %}
            </small>
          {% endif %}
        </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  {{ page.content | replace(from="<!-- toc -->", to=macros::toc(toc=page.toc)) | safe }}
</article>

{% block post_message %}
<div>
  Liked this article? Share this with others
</div>
{% endblock post_message %}

{% block comments %}
{% endblock comments %}

{% block contact %}
  <p>Got any questions or comments? Drop me a message on <a href="{{ config.extra.author.twitter.link }}" rel="nofollow">Twitter @{{ config.extra.author.twitter.username }}</a></p>
{% endblock contact %}

{# include related.html #}

{% endblock content %}
